<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for contacting us, <%= @request.name %></h1>
    <p>
      Our team has been notified and someone will reach out to you within a few days.
    </p>
    <p>Have a great day!</p>
    <p><em>The Stoketech Team</em></p>
  </body>
</html>
